env
backend_final_v2.log
backend_final_v3.log
backend_final.log
backend_server.log
backend_v2.log
check_api.py
check_forecast.py
day1.csv
day2.csv
day3.csv
day4.csv
day5.csv
day6.csv
day7.csv
demand_anomalies.csv
demand_data.csv
demand_predictions.csv
futuredemand_model.pth
shop_1_combined.csv
shop_2.csv
shop_3.csv
shop_demand_predictions.csv
shop_reviews_advanced.csv
shop_reviews.csv
shop_sale.csv
shop2_combined.csv
storedata.xlsx
vendor.csv